body{
	font-family: "Helvetica-Neue",Helvetica,Arial,sans-serif;
	text-align: center;
}
h1 {
	position: relative;
	text-align: center;
}

#leftFloater {
	position: relative;
	z-index: 120;
}

#leftWrapper {
	position: relative;
	text-align: left;
	width: 100%;
}

#centerWrapper {
	position: relative;
	text-align: left;
	width: 100%;
}

#rightWrapper {
	position: relative;
	text-align: left;
	width: 100%;
	z-index: 10;
}

p {
	text-align: center;
}

svg {
	display: block;
	margin: auto;
}

rect {
	stroke: black;
}

.details {
	font: 16px sans-serif;
}

.background {
	fill: #dfe3ec;
	stroke: white;
}

.ageleft {
	fill: white;
}

.slider {
	fill: #505050;
	stroke: none;
}

#leftWrapper #leftFloater {
	float: left;
	padding: 2%;
	z-index: 100;
}

#alerts{
	position: relative;
	float: left;
	z-index: 100;
}
#alerts #alertsList{
	
}
#alertDetails{
	text-align: center;
	
}

#toggleview {
	margin-top:8px;
}
