h1 {
	text-align: center;
}

p {
	text-align: center;
}

svg {
	display: block;
	margin: auto;
}

rect {
	stroke: black;
}

.details {
	font: 16px sans-serif;
}

.background {
	fill: #dfe3ec;
	stroke: white;
}

.ageleft {
	fill: white;
}

.slider {
	fill: #505050;
	stroke: none;
}

.sidebar {
         position: fixed;
         height: 25px;
         left: 3px;
         top: 185px;
         width: 24px;
}

#leftFloater {
	float:left;
	position:fixed;
}

#toggleview {
	margin-top:8px;
}